/* Desktop Style */
html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #a3b18a;
}

header {
    padding: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    padding: 16px 32px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

h2 {
    font-size: 1.5em;
}

p {
    text-align: justify;
}

ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    height: 100%;
    min-width: 103px;
    width: 103px;
    background-color: #a3b18a;
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 15px;
    width: 250px;
}

.nav-links a {
    display: flex;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.nav-links a:hover {
    border-color: #000;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}

.btn-contato {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #dad7cd;
    transition: 0.3s;
}

.btn-contato:hover {
    background-color: #588157;
    color: #E0E1DD;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 15px;
    background-color: #dad7cd;
    height: 40%;
}

.about-me img {
    height: 247px;
    width: 247px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 16px;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 16px 32px;
    gap: 16px;
    min-width: 400px;
}

.listas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 48px;
    width: 100vw;
    height: 50%;
}

.hobbies,
.top-albuns {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
}

.hobbies {
    align-items: flex-end;
}

.top-albuns {
    align-items: flex-start;
}

.hobbies ul,
.top-albuns ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    width: 555px;
    height: 150px;
}

.hobbies ul {
    flex-direction: row-reverse;
}

.top-albuns ul {
    flex-direction: row;
}

.posicao {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}


.num-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 3rem;
    position: absolute;
    left: 5px;
    top: -6px;
    border-radius: 0 0 5px 5px;
    background-color: #dad7cd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}